<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286431093243-7f0e5d86nk0476hb6rur54bltg6ttri8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286431093243-7f0e5d86nk0476hb6rur54bltg6ttri8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286431093243-7dvia1rrfddgt3i807aum6sci8ss9bkc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBK8SUVflXxK1Xhe_uPiNyCcQSEUcUND10</string>
	<key>GCM_SENDER_ID</key>
	<string>286431093243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatMockApp</string>
	<key>PROJECT_ID</key>
	<string>capcat-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>capcat-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286431093243:ios:4ad764bffe3cfa26d82b5e</string>
</dict>
</plist>